.birthdayForm {
    display: grid;
    align-items: center;
    max-width: 600px;
    grid-gap: 10px;
    background-color: rgba(200, 200, 200);
    padding: 25px;
    border-radius: 5px;
}

input {
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    background-color: rgba(50, 50, 100);
}

label {
    font-weight: 900;
    color: black;
}

.submitForm {
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
}

.submitForm:hover {
    cursor: pointer;
    border: 2px solid white;
}